@import url("../style.css");

p {
    font-family: sans-serif;
}

.comments {
    margin-top: 10vh;
    font-family: arcane;
    font-size: 60px;
}

.comment {
    background-color: var(--secondary-color);
    padding: 10px 20px;
    margin: 10px 0px;
}

.user {
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 8px;
}

.like-button {
    font-family: hearts;
    font-size: 40px;
    cursor: pointer;
    width: 40px;
}

.like-count {
    font-family: sans-serif;
    font-size: 20px;
    padding: 0 10px;
    text-align: center;
}

.like {
    display: flex;
    align-items: center;
    justify-content: start;
}

.time {
    font-size: 18px;
}

.content {
    font-size: 20px;
}

@media (min-aspect-ratio: 3/4) and (min-width: 1200px) {
    body {
        margin-left: 20vw;
        margin-right: 20vw;
        width: 60vw;
        background-color: var(--primary-color);

        transition:
            0.2s ease-out,
            color 0.2s linear;
    }

    h1 {
        margin-top: 10vh;
        font-family: arcane;
        font-size: 3em;
    }

    h1 img {
        width: 100%;
    }

    p {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 500px) {
    body {
        background-color: var(--primary-color);

        transition:
            0.2s ease-out,
            color 0.2s linear;
    }

    #dark-light-button {
        width: 36px;
        height: 36px;
        transform: translateX(-50%);
    }

    h1 {
        margin-top: 3vh;
        font-family: arcane;
        font-size: 2em;
        padding: 3vw;
    }

    h1 img {
        width: 100%;
    }

    p {
        padding: 3vw;
        font-size: 1em;
    }

    .user {
        font-size: 30px;
    }

    .comment {
        margin: 10px 8px;
    }
}
